---
import MainLayout from "../layouts/main-layout.astro";
import VideoURL from "../components/L3/VideoURL.astro";
import Text from "../components/Text.astro";
---

<MainLayout title="L3 Cache">
  <VideoURL
    videoId="T445iSzjW4Q"
    startTime={135}
    title="The Penguin"
    description="''You stayed, because you want something better. You want more than your father ever had...No, my dad would be ashamed of me... You know what's shamefull, Vic? Workin' you whole goddamn life, havin' nothing to show for it. You still think there is good and bad? Right and wrong?.. There ain't. There's just this. Survival, security, pleasure. They dont give out awards for dyin' in the projects... Fuck you. Fuck me?! Fuck the goddamn world! Don't give a shit about you, or your family. You think you're nothin'? You are nothing till the day you die.''"
  />
  <Text title="Cold world's truth" class="font-mono">
    <p>
      The world is a cynical place that massively favours those who've learned
      to navigate power structures and bend rules to their will.
      <br /><br />
      Working hard and following the rules is presented as virtuous, right up untill the moment that it is not.
      A life lived after the book will more often than not lead to mediocrity and produce diminishing return for most. 
      Consider how billionaires can get away with paying proportionally
      less in taxes than average working class people, how whistleblowers like Edward Snowden
      become criminals while the institutions exposed were allowed to continue operating
      unabated. 
      <br/><br/>
      The uncomfortable reality is that morality becomes a luxury when
      survival is at stake.
      <br /><br />
      There exists a gap between ideals and reality. The rules that govern our interactions
      aren't fair or equitable by design – they evolved to maintain stability for
      some at the expense of others. When a homeless person steals food, it's a crime;
      when corporations steal wages, it's a civil matter. When refugees cross borders
      illegally; when corporations offshore billions to avoid
      taxes, they're shrewd. Survival, security, and pleasure become the true currencies
      when the facade of social contracts fails.
      <br /><br />
      <span class="italic">
        "The law, in its majestic equality, forbids rich and poor alike to sleep
        under bridges, to beg in the streets, and to steal loaves of bread." -
        Anatole France
      </span>
      <br /><br />
      Our world privileges certain truths that remain invisible until confronted
      directly. Society's delusion lies in its promise of fairness and justice –
      systems perpetuated by those who benefit most from maintaining the illusion.
      We're taught to trust in rules created by those with power, yet what moral
      authority do these systems truly hold when they consistently serve the interests
      of their architects?
      <br /><br />
      <span class="italic">
        "It is no measure of health to be well adjusted to a profoundly sick
        society." - Jiddu Krishnamurti
      </span>
      <br /><br />
      Perhaps true morality lies not in adhering to artificial constructs of law
      and order, but in recognizing our shared humanity and the inherent worth of
      each person. Like a neural network constantly adapting: those who recognize
      patterns survive, but those who can rewrite the patterns might create something
      better.
    </p>
  </Text>

  <VideoURL
    videoId="NoAzpa1x7jU"
    startTime={108}
    title="Blade runner - Tears in the Rain monologue [1982]"
    description="''I've seen things you people wouldn't believe. *laughs* Attack ships on fire off the shoulder of Orion. I watched c-beams glitter in the dark near the Tannhäuser Gate. All those moments will be lost in time, like tears in rain... Time to die''"
  />

  <Text title="Rutger Hauer's tears in the rain" class="font-mono">
    <p>
      We all collect moments and pieces of knowledge, most of which will
      disappear with us. Some may get recorded, some may get rediscovered by
      others, but most will be lost forever. <br />
      <br /> Roy wanted Deckard to remember him. Isn't that a form of human existence
      too?
      <br />
      <br />
      <span class="font-bold">Fact:</span> A different monologue was in the original
      script. Rutger Hauer felt the way it was originally written was too long. He
      said, given that Roy knew his built-in death was a very short time away, it
      didn't make sense to him that he would be able to sit and talk for very long
      about life and death, and the things he's seen. <br />
      <br /> So he decided to came up with something much more concise by re-writing
      it himself the night before shooting the scene, without Ridley Scott's knowledge.
      He not only re-wrote the existing lines, but also added the immortal last words
      <br />
      <br />
      <span class="italic">"... like tears in rain. Time to die."</span>
      <br /><br />
      Apparently loads of people were crying on set at that point. It was a combination
      of the film's hellish shoot being nearly over, and being so moved by Hauer's
      words.He did his version of the monologue on set, which surprised Scott and
      the rest of the crew, but they all loved his version, and it was ultimately
      decided to kept it as that.
    </p>
  </Text>

  <VideoURL
    videoId="-JmNKGfFj7w"
    startTime={40}
    title="Jim Carrey interview"
    description="Jim Carry at a NYFW 2017 about the existence of the self."
  />
  <Text title="A virtual reality doesn't exist physically." class="font-mono">
    <p>
      By virtually I mean phenomenally. Obviously the brain and body are real,
      but the self as we understand it is an illusion, it only exists virtually.
      It only exists as an experience and as a cognitive construct of brains in
      order for an organism or biological system to model itself in relation to
      the world surrounding it. <br /><br />If you get your brain hooked up to
      certain equipment in a lab, a neuroscientist can tell you you will be
      making a certain decision before you even know. The brain activity happens
      before the knowledge of the decision is integrated into the self-model.
      Dreams, hallucinations, mental imagery & thoughts all exist in an
      exclusive virtual space, not physically. <br /><br />
      They are all a product of certain types of brain activity, and the self as
      we use and understand it and the <span class="italic">"I"</span> as I am using
      it here is no different. The self is an illusion in the sense that we feel
      we are an experiencer in addition to the experience, that we are some type
      of entity riding around in a head and body. <br /><br /> We are characters
      generated by our brains. Our brains are hardwired to have these egos. No amount
      of knowledge or awareness of out own virtual nature is going to make it go
      away. In fact, this knowledge can be a convenient mean for an egotistical person
      to be an asshole or dismiss other people's pain and hardship, such as Carey
      is doing here. <br /><br /> Psychedelics can dissolve the ego, but only temporarily.
      Meditation has been shown to be an effective long term method, but perhabs
      the solution comes in the form of realizing that nothing is inherently wrong
      with living as an ego. Afterall, if you didn't have one, you wouldn't be sure
      whose mouth to put food into. <br /><br />
    </p>
    <p>
      <span class="italic">
        An imaginary friend is a direct product of the brain. Is an imaginary
        friend an illusion? Electricity is physical, energy is physical, yet my
        imaginary friend remains virtual. He, will never be equal to my father,
        the same way that hallucinated water never will be able to quench my
        thirst quite like physical water.
      </span>
    </p>
  </Text>

  <VideoURL
    videoId="FxzBvqY5PP0"
    title="Daft Punk - Digital Love [2001]"
    description="Last night I had a dream about you - In this dream, I'm dancing right beside you - And it looked like everyone was having fun - The kind of feeling I've waited so long ... But suddenly I feel the shining sun - Before I knew it, this dream was all gone"
  />

  <Text title="Daft Punk - Digital Love" class="font-mono">
    <p>
      On <span class="italic">"Discovery"</span> Thomas Bangalter and Guy-Manuel
      sought to create music that captures childlike wonder and the musical joy of
      childhood, before ego influences taste.
      <br /><br />
      Built on just two measures from George Duke's
      <a
        href="https://www.youtube.com/watch?app=desktop&v=IEibygqqLZc&%3Bamp%3Bfeature=kp"
        class="underline">"I Love You More"</a
      > [1979], the track <span class="italic">"Digital Love"</span> showcases Daft
      Punk's masterful sampling technique. Here the brief moment from 0:04 - 0:08
      is turned into the foundation of the entire track. <br /><br />The sample
      itself begins mid-phrase, creating an endless sense of motion through the
      unresolved soundwaves from the notes decaying from the measure before.
      Through EQ manipulation, Daft Punk sculpt the sample through an entire
      frequency spectrum - stripping away bass frequencies only to dramatically
      reintroduce them, painting with sound in new, unheard and creative ways.
      <br /><br />
      The track's legendary synth solo, often mistaken for a guitar, reveals the
      band's innovative spirit. Created through a mix of electronic sequencer and
      vocoded synthesizer - the band fire a rapid sequence of precisely arranged
      chord progressions at the listener's ears, elevating the contemporary boundaries
      of traditional instrumental.
      <br /><br />
      <a
        href="https://web.archive.org/web/20060103075925/http://remixmag.com/mag/remix_robopop/"
        class="underline"
      >
        Bangalter explained:</a
      >
      <br /><br />
      <span class="italic"
        >"... It was done with the help of technology, with the help of
        sequencers. We're interested in making things sound like something other
        than what they are. There are guitars that sound like synthesizers, and
        there are synthesizers that sound like guitars. The other goal is to
        create spontaneity. Even though we're not that good, we played a lot of
        things ourselves. With the help of technology, you can manufacture
        skills you don't have ..."</span
      >
      <br /><br />
      This approach to sound design, to view whatever technology you have at hand
      as a tool for pushing the creative boundaries, regardless of arbitrary intended
      purposes, is a universal principle to be inspired by.
      <br /><br />
      Technology should never limit creativity, but rather serve as a springboard
      for innovation. This philosophy transcends music - it is to be applied to all
      mediums.
    </p>
  </Text>
</MainLayout>
