---
import MainLayout from "../layouts/main-layout.astro";
import VideoURL from "../components/L3/VideoURL.astro";
import Text from "../components/Text.astro";
---

<MainLayout title="L3 Cache">
  <VideoURL
    videoId="tHqXL8Qgh3w"
    startTime={86}
    title="Reynad"
    description="13 Feb 2017 Stream VOD"
  />

  <Text title="Being results oriented" class="font-mono">
    <p>
      When presented with multiple options, the <span class="italic"
        >"right"
      </span> choice is the one in which you gain the most reward on average, regardless
      of outcome. Picking a choice that gives a lower reward on average is incorrect,
      even if in this specific instance it yielded a higher than average reward.
      <br /><br />
      <span class="italic">
        "Being good at a card game is losing after picking the 51% choice 9 times.
        And then picking the same the 10th time."
      </span>
      <br /><br />
      It is understanding the difference between good decisions and good outcomes.
      The right decision doesn't guarantee a good outcome. And a good outcomes doesn't
      necessarily come from the right decision.
      <br /><br />
      The goal is to maximize the average outcome, to be the best possible.
    </p>
  </Text>

  <VideoURL
    videoId="PCREQFQl7Dg"
    title="Terry Davis about complexity and simplicity"
    description="''An idiot admires complexity. A genius admires simplicity - a physicist tries to make it simple. Anyway, an idiot, anything the more complicated it is the more he will admire it. If you make something so clusterfuck that he can't understand it, he's gonna think you're a god, 'cuz you made it so complicated nobody can understand it.''"
  />

  <Text title="Terry Davis about complexity and simplicity" class="font-mono">
    <p>
      Terry Davis' provocative statement, <span class="italic"
        >"An idiot admires complexity. A genius admires simplicity,"</span
      >
      strikes a chord. He argued that unnecessary complexity, especially in academic
      circles, is often used to impress rather than enlighten. But is that the whole
      truth?
      <br /><br />
      The discussion is nuanced by the fact that specialized fields inevitably have
      a certain entry barrier. A layman cannot be expected to understand a scientific
      paper without background knowledge, just as a non-programmer would get lost
      in simple documentation. There's a baseline level of complexity that comes
      with deep expertise.
      <br /><br />
      Still, Davis has a point. There are examples of work deliberately being made
      more convoluted than necessary. Incentives in the academic world, such as status,
      funding and prestige, can favor the complex over the clear. <br
      />Complexity becomes a superficial way to fake depth.
      <br /><br />
      Consider "The Simpsons": as a child, it's a fun cartoon; as an adult, you notice
      the many layers of satire and mature jokes. Good communication <span
        class="italic"
        >*can*
      </span> be multi-dimensional and offer value at different levels, if effort
      is made. <br />
      <br /> Academic papers, technical documentation and other similar high-entry
      topics <span class="italic">*could* </span> and <span class="italic"
        >*should*
      </span> be designed to be more accessible and multi-dimensional, even if there
      is a lack of direct incentive.
      <br /><br />
      <span class="font-bold">The conclusion to me is clear:</span>
      <br /><br />
      Simplicity generally serves us better. While some topics are naturally intricate,
      the goal should be to strike a balance between communicating the subject in
      a manner that provides value to the widest possible audience, without compromising
      quality.
      <br /><br />
      The ability to distill a complex idea into something understandable shouldn't
      be simplification in a negative sense; rather, it should command respect, as
      it demonstrates a profound undertanding of the subject at hand.
    </p>
  </Text>

  <VideoURL
    videoId="T445iSzjW4Q"
    startTime={135}
    title="The Penguin"
    description="''You stayed, because you want something better. You want more than your father ever had...No, my dad would be ashamed of me... You know what's shamefull, Vic? Workin' you whole goddamn life, havin' nothing to show for it. You still think there is good and bad? Right and wrong?.. There ain't. There's just this. Survival, security, pleasure. They dont give out awards for dyin' in the projects... Fuck you. Fuck me?! Fuck the goddamn world! Don't give a shit about you, or your family. You think you're nothin'? You are nothing till the day you die...''"
  />
  <Text title="Cold world's truth" class="font-mono">
    <p>
      We're often told stories about how anyone can make it if they just try
      hard enough. It's a comforting thought, isn't it? But it glosses over the
      head start some get, the doors opened by knowing the right people, even
      just being in the right place at the right time. And then there's the
      hidden catch: strictly playing by the *official* rules often puts you at a
      distinct disadvantage.
      <br /><br />
      You see it everywhere - the small business owner drowning in paperwork while
      large corporations exploit complex tax loopholes written just for them. Or
      the job seeker meticulously following online application steps, competing against
      someone who bypasses the whole system with a single well-placed phone call.
      The rules feel less like fair guidelines and more like a complex system intentionally
      designed with backdoors and fast lanes accessible only to those with the right
      keys - keys often passed down through wealth, status, or connections. It makes
      you wonder if agreeing to 'play along' is really a choice, or just accepting
      your place on a tilted playing field.
      <br /><br />
      I think there exists a gap between ideals and reality. The things we would
      wish for of a perfect world, compared to the rules and reality that actually
      govern our lives and constrains us, are very different. In reality the rules
      aren't always fair or equitable by design - they are set in place to maintain
      stability for some, at the expense of others.
      <br /><br />
      <span class="italic">
        "The law, in its majestic equality, forbids rich and poor alike to sleep
        under bridges, to beg in the streets, and to steal loaves of bread." -
        Anatole France
      </span>
      <br /><br />
      Society's delusion lies in its promise of fairness and justice - words repeated
      by those who benefit most from maintaining the illusion. We're taught to trust
      in rules created by those with power, yet what moral authority do these systems
      truly hold when they consistently serve the interests of their architects?
      <br /><br />
      Perhaps true morality lies not in blindly adhering to artificial constructs
      of law and order, but in recognizing and prioritizing the shared humanity between
      us.
    </p>
  </Text>

  <VideoURL
    videoId="NoAzpa1x7jU"
    startTime={108}
    title="Blade runner - Tears in the Rain monologue [1982]"
    description="''I've seen things you people wouldn't believe. *laughs* Attack ships on fire off the shoulder of Orion. I watched c-beams glitter in the dark near the Tannhäuser Gate. All those moments will be lost in time, like tears in rain... Time to die''"
  />

  <Text title="Rutger Hauer's tears in the rain" class="font-mono">
    <p>
      Life is but a collection of moments and pieces of knowledge, most of which
      will disappear with us. Some may get recorded, some may get rediscovered
      by others, but most will be lost forever. <br />
      <br />
      The original script was a completely different monologue. Rutger Hauer felt
      the way it was originally written was too long. He said, given that Roy knew
      his built-in death was a very short time away, it didn't make sense to him
      that he would be able to sit and talk for very long about life and death, and
      the things he's seen. <br />
      <br /> So he decided to came up with something much more concise by re-writing
      it himself the night before shooting the scene, without Ridley Scott's knowledge.
      He not only re-wrote the existing lines, but also added the immortal last words
      <br />
      <br />
      <span class="italic">"... like tears in rain. Time to die."</span>
      <br /><br />
      He did his version of the monologue on set, and the tale goes, that people
      were crying on set at the point of filming. Maybe as a result of the film's
      hellish shoot being nearly over, maybe because of Hauer's words, maybe a combination
      of both.
      <br />
      <br />
      Roy wanted Deckard to remember him. That is the basis of human existence.
      <br />
      <br />
    </p>
  </Text>

  <VideoURL
    videoId="-JmNKGfFj7w"
    startTime={40}
    title="Jim Carrey interview"
    description="Jim Carry at a NYFW 2017 about the existence of the self."
  />
  <Text title="A virtual reality doesn't exist physically." class="font-mono">
    <p>
      By virtually I mean phenomenally. Obviously the brain and body are real,
      but the self as we understand it is an illusion, it only exists virtually.
      It only exists as an experience and as a cognitive construct of brains in
      order for an organism or biological system to model itself in relation to
      the world surrounding it. <br /><br />If you get your brain hooked up to
      certain equipment in a lab, a neuroscientist can tell you you will be
      making a certain decision before you even know. The brain activity happens
      before the knowledge of the decision is integrated into the self-model.
      Dreams, hallucinations, mental imagery & thoughts all exist in an
      exclusive virtual space, not physically. <br /><br />
      They are all a product of certain types of brain activity, and the self as
      we use and understand it and the <span class="italic">"I"</span> as I am using
      it here is no different. The self is an illusion in the sense that we feel
      we are an experiencer in addition to the experience, that we are some type
      of entity riding around in a head and body. <br /><br /> We are characters
      generated by our brains. Our brains are hardwired to have these egos. No amount
      of knowledge or awareness of out own virtual nature is going to make it go
      away. In fact, this knowledge can be a convenient mean for an egotistical person
      to be an asshole or dismiss other people's pain and hardship, such as Carey
      is doing here. <br /><br /> Psychedelics can dissolve the ego, but only temporarily.
      Meditation has been shown to be an effective long term method, but perhabs
      the solution comes in the form of realizing that nothing is inherently wrong
      with living as an ego. Afterall, if you didn't have one, you wouldn't be sure
      whose mouth to put food into. <br /><br />
    </p>
    <p>
      <span class="italic">
        An imaginary friend is a direct product of the brain. Is an imaginary
        friend an illusion? Electricity is physical, energy is physical, yet my
        imaginary friend remains virtual. He, will never be equal to my father,
        the same way that hallucinated water never will be able to quench my
        thirst quite like physical water.
      </span>
    </p>
  </Text>

  <VideoURL
    videoId="FxzBvqY5PP0"
    title="Daft Punk - Digital Love [2001]"
    description="Last night I had a dream about you - In this dream, I'm dancing right beside you - And it looked like everyone was having fun - The kind of feeling I've waited so long ... But suddenly I feel the shining sun - Before I knew it, this dream was all gone"
  />

  <Text title="Daft Punk - Digital Love" class="font-mono">
    <p>
      On <span class="italic">"Discovery"</span> Thomas Bangalter and Guy-Manuel
      sought to create music that captures childlike wonder and the musical joy of
      childhood, before ego influences taste.
      <br /><br />
      Built on just two measures from George Duke's
      <a
        href="https://www.youtube.com/watch?app=desktop&v=IEibygqqLZc&%3Bamp%3Bfeature=kp"
        class="underline">"I Love You More"</a
      > [1979], the track <span class="italic">"Digital Love"</span> showcases Daft
      Punk's masterful sampling technique. Here the brief moment from 0:04 - 0:08
      is turned into the foundation of the entire track. <br /><br />The sample
      itself begins mid-phrase, creating an endless sense of motion through the
      unresolved soundwaves from the notes decaying from the measure before.
      Through EQ manipulation, Daft Punk sculpt the sample through an entire
      frequency spectrum - stripping away bass frequencies only to dramatically
      reintroduce them, painting with sound in new, unheard and creative ways.
      <br /><br />
      The track's legendary synth solo, often mistaken for a guitar, reveals the
      band's innovative spirit. Created through a mix of electronic sequencer and
      vocoded synthesizer - the band fire a rapid sequence of precisely arranged
      chord progressions at the listener's ears, elevating the contemporary boundaries
      of traditional instrumental.
      <br /><br />
      <a
        href="https://web.archive.org/web/20060103075925/http://remixmag.com/mag/remix_robopop/"
        class="underline"
      >
        Bangalter explained:</a
      >
      <br /><br />
      <span class="italic"
        >"... It was done with the help of technology, with the help of
        sequencers. We're interested in making things sound like something other
        than what they are. There are guitars that sound like synthesizers, and
        there are synthesizers that sound like guitars. The other goal is to
        create spontaneity. Even though we're not that good, we played a lot of
        things ourselves. With the help of technology, you can manufacture
        skills you don't have ..."</span
      >
      <br /><br />
      This approach to sound design, to view whatever technology you have at hand
      as a tool for pushing the creative boundaries, regardless of arbitrary intended
      purposes, is a universal principle to be inspired by.
      <br /><br />
      Technology should never limit creativity, but rather serve as a springboard
      for innovation. This philosophy transcends music - it is to be applied to all
      mediums.
    </p>
  </Text>
</MainLayout>
