---
interface Props {
  title?: string;
  id?: string;
  class?: string;
}

const { title, id, class: className = "" } = Astro.props;
---

<div class="mx-auto max-w-6xl px-8" id={id}>
  {title && <h2 class="text-3xl font-light font-mono mb-6">{title}</h2>}

  <div class={`prose prose-lg text-black/80 leading-relaxed ${className}`}>
    <slot />
  </div>
</div>
